{% extends "base_logged_in.html" %}

{% comment %}
Template for viewing a resume.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume-item {
      margin-top: 36px;

      position: relative;
    }

    section.resume-item > a.btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    span.badge {
      background-color: white;
      border: 1px solid black;
      color: rgb(51, 51, 51);
      margin-bottom: 8px;
    }

    h1.resume-title {
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <h1 class="resume-title">Resume: {{ resume.name }}</h1>
  </div>

  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>

    {% for resume_item in resume_items %}
      <section class="resume-item">
        <h3>{{ resume_item.title }}</h3>
        <h4>{{ resume_item.company }}</h4>
        <h4>{{ resume_item.start_date | date:"M Y"}} - {% if resume_item.end_date %}{{ resume_item.end_date | date:"M Y"}}{% else %}Present{% endif %}</h4>
        {% if resume_item.tags %}
          {% for tag in resume_item.tag_list %}
            <span class="badge">{{ tag }}</span>
          {% endfor %}
        {% endif %}
        {% if resume_item.description %}<p>{{ resume_item.description }}</p>{% endif %}
        <a class="btn btn-primary" href="/resumes/{{ resume.id }}/edit-item/{{ resume_item.id }}/">Edit</a>
      </section>
    {% endfor %}

    <a class="btn btn-success" href="/resumes/{{ resume.id }}/create-item/">Add New Item</a>
  </div>
{% endblock %}
