{% extends "base_logged_in.html" %}

{% load static %}

{% comment %}
Base form template for creating and editing resumes.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-form-container {
      margin-top: 24px;
    }

    h1.resume-header {
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row content-section resume-form-container">

      <div class="col-xs-12">

        <h1 class="resume-header">{% block resume_header_text %}{% endblock %}</h1>

        <form class="form-horizontal" action="" method="post">
          {% csrf_token %}

          <div class="row">

            <div class="col-sm-12">
              {{ form.name.errors }}
              <div class="form-group">
                <label for="inputName" class="col-sm-1 control-label">Name</label>
                <div class="col-sm-11">
                  <input type="text" name="name" id="inputName"
                         required maxlength="127"
                         class="form-control" aria-label="Name"
                         {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              {% if message %}
                <p class="text-success">{{ message }}</p>
              {% endif %}

              <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11 submit-col">
                  <button type="submit" class="btn btn-primary">
                    {% block resume_submit_button_text %}{% endblock %}
                  </button>
                  <a class="btn btn-default" href="/resumes/">Back</a>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>

  </div>
{% endblock %}
